@import "tailwindcss";


@theme {
 
  --color-dark-50: #efefef;  
  --color-dark-100: #d5d5d5; 
  --color-dark-200: #b0b0b0; 
  --color-dark-300: #9e9e9e; 
  --color-dark-400: #616161; 
  --color-dark-500: #424242; 
  --color-dark-600: #212121; 
  --color-dark-700: #1f1f1f; 
  --color-dark-800: #121212; 
  --color-dark-900: #0a0a0a; 

 
  --color-border: var(--color-dark-700);
}

@layer base {
  * {
    @apply border-border;
    @apply border-solid;
  }

  body {
    @apply bg-dark-900 text-white antialiased;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .glass-effect {
    background: rgba(17, 24, 39, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
